<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Ynow beta</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      {{ greeting }}
    </h1>
    <p>
      Ynow is an app that answers the complex question of: <i>Why not just store your files on Discord?</i>
      <form>
        <label for=""></label>
    </form>
    </p>
        
  </body>
</html>
