<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Iguana Share beta</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />   
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      Welcome to Iguana Share beta!
    </h1>
    <p>
      Uploading your file...
    </p>
    <br>
    <img src="https://cdn.glitch.global/4960224d-b1f1-4173-9937-6f59f5dc67e8/Spinner-1s-200px.gif?v=1663895757779" />
  </body>
</html>
